:root {
  --color_primario: #530551;
  --color_secundario: #690767;
  --color_complementario: #7e0a7e;

  --fuente_primaria: "Rowdies", cursive;
  --fuente_secundaria: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #282824;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

/* header */
.Header {
  /* background-color: lightblue; */
  max-width: 90em;
  min-height: 3.6em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  /* position: fixed; */
}
.Header-logo {
  width: 3.5em;
  height: 3.5em;
  padding: 0 0.8em;
  filter: brightness(0.9);
}
.Header-nav {
  /* background-color: lightcoral; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  width: 100%;
}
.Header-ul {
  gap: 4em;

  display: flex;
  flex-flow: row wrap;

  list-style: none;

  margin-left: -10em;
}

.Header-ul-2 {
  /* background-color: lightblue; */
  display: flex;
  flex-flow: row;
  align-items: center;

  gap: 2em;

  list-style: none;
}
.Header-li-2 {
  padding: 0.3em;
}
.Header-a-2 {
  text-decoration: none;
  font-size: 1.4em;
  font-family: var(--fuente_secundaria);

  color: #fffaf0;

  transition: all 90ms ease-in-out;
}
.Header-a-2:hover {
  color: #7e0a7e;
  filter: brightness(1.6);
}

.Header-svg {
  width: 2.4em;
  height: 2.4em;
  fill: var(--color_secundario);

  filter: brightness(1.7);

  transition: all 0.1s ease;
}
.Header-svg:hover {
  transform: scale(1.2);
}
.Header-underline {
  width: 80%;
  margin: auto;

  border-bottom: 1px solid var(--color_complementario);
}

/* main */
.Main {
  max-width: 80%;
  margin: auto;
  position: relative;
  z-index: 99;
}
.Section-1 {
  width: 100%;
  min-height: 85vh;
  margin-bottom: 2em;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.Section-text-container {
  width: 100%;
  margin: auto;

  display: block;
  text-align: center;
}
.Section-h1 {
  font-family: var(--fuente_primaria), sans-serif;
  color: #fffaf0;
  font-size: 6em;

  user-select: none;
}
.Section-h2 {
  font-family: var(--fuente_secundaria), sans-serif;
  color: #fffaf0;
  font-size: 3em;

  user-select: none;
}
.Section-svg {
  width: 3em;
  height: 3em;
  fill: var(--color_complementario);

  animation: jumping alternate infinite 0.5s 0.2s ease-in-out,
    filter alternate infinite 0.5s 0.2s ease-in;
}

/* animacion svg */
@keyframes jumping {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0.2em);
  }
}
@keyframes filter {
  0% {
    filter: drop-shadow(0 0 0.1em var(--color_secundario));
  }

  100% {
    filter: drop-shadow(0 0 0.3em var(--color_complementario));
  }
}

/* main */
.Section-2 {
  min-height: 90vh;
  width: 100%;
  /* background-color: lightgray; */
  padding: 2em;
}
.Container {
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Container-cards {
  /* background-color: lightcyan; */
  width: 20em;
  height: 16em;
  padding: 0.2em;

  border: 1px solid var(--color_secundario);
  border-radius: 1em;
}
.Container-img {
  /* background-color: lightcoral; */
  height: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.Container-card-img {
  display: block;
  /* background-color: lightgreen; */
}
.Container-buttons {
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container-ul {
  /* background-color: lightseagreen; */
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}
/*
 .Container-li {}
 .Container-a {} 
*/
.Container-svg {
  width: 2em;
  height: 2em;

  transition: all 0.1s ease-out;
}
.Container-svg:hover {
  filter: brightness(1.8);
}

.Section-3 {
  width: 100%;
  min-height: 100vh;
  /* background-color: lightblue; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.About-container {
  width: 80%;

  display: flex;
  flex-flow: row;
  /* background-color: lightcoral; */

  border-radius: 2em;

  gap: 2em;
}
.About-img {
  width: 100%;
  /* background-color: lightcyan; */
  display: block;
}
.About-img img {
  border-radius: 2em;
}
.About-description {
    /* background-color: lightgray; */
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.About-p {
    font-family: var(--fuente_secundaria);
    color: #fffaf0;
    font-size: large;
}
.About-ul {
    display: flex;
    flex-flow: row;

    list-style: none;

    gap: 3em;
}
/* .About-li {
}
.About-a {
} */
.About-svg {
    width: 3em;
    height: 3em;
}
.About-svg:hover {
    fill: var(--color_complementario);
    filter: drop-shadow(0 0 .2em var(--color_complementario));
}
